.page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block {
    display: flex;
    justify-content: flex-start;
    position: relative;
    //width: 560px;
    //height: 600px;
    width: 563px;
    height: 600px;
    overflow: hidden;
}

.block__container {
    display: flex;
    position: relative;
}

.block__buttons {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 52px;
    display: flex;
}

.block__button {
    height: 52px;
    width: 52px;
    position: absolute;
    border: none;

    &--prev {
        left: 0;
        background: transparent center no-repeat url(../img/arr-left.png);
        background-size: contain;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    &--next {
        right: 0;
        background: transparent center no-repeat url(../img/arr-right.png);
        background-size: contain;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
}


.block__img {
    width: 563px;
    display: flex;
    justify-content: center;
}



.content {
    border-radius: 15px;
    height: 600px;
    //width: 435px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}










.block__dots {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: 20px;
    width: calc(435px - 52px);
    transform: translateX(-50%);
    left: 50%;
}

.block__dot {
    margin-right: 8px;
    height: 2px;
    width: 100%;
    background: linear-gradient(to left, rgba(30, 144, 255, 0.5) 50%, #1E90FF 50%) right;
    background-size: 200%;

    &:last-child {
        margin-right: 0;
    }

    &.active {
        transition: background-position 10s linear;
    }

    &.prev {
        background: linear-gradient(to left, #1E90FF 50%, #1E90FF 50%) right;
        transition: background-position 0s linear;
    }

    &.next {
        transition: background-position 0s linear;
    }
}

